@media screen and (max-width:992px) {
    .top_header button {
        padding: 2px 10px 2px 10px;
     
    }
    .header_middle .logo p {
       
        font-size: 22px;
       
    
    
    }
    .publish-section {
        padding: 0 20px;
    }
    .banner .text-content{
      padding-bottom: 20px;
        }
    .banner .text-content h2{
        margin-top: 20px;
        font-size: 21px;  
        color: var(--primary); 
        font-weight: 600;
        text-align: center;
        }
        .banner .text-content p{
            font-size: 16px;  
            font-weight: 500;
            text-align: center;

            }
        
        .banner .image-content img {
            max-width: 100%;
            height: 200px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;

        }
   
}



@media screen and (max-width:575px) {
    .banner .text-content h2{
        margin-top: 20px;
        font-size: 21px;  
        color: var(--primary); 
        font-weight: 600;
        }
   
}

